

<link href="~/Content/Home.css" rel="stylesheet" />

    <nav class="navigator" id="menu">
        <ul>
            <li><a href="~/home/index" title="Home">Home</a></li>
            <li><a href="~/aluno/index">Cadastro de Alunos</a></li>
            <li><a href="~/cidade/index" >Cadastro de Cidades</a></li>
            <li><a href="~/estado/index">Cadastro de Estados</a></li>
            <li><a href="#">Alunos por Cidade</a></li>
            <li><a href="#" >Relatórios</a></li>
            <li><a href="#">Gráficos</a></li>
            <li><a href="~/usuario/Logout">Logout</a>Bem Vindo  @ViewBag.usuario</li>
        </ul>
    </nav>



